<h1>Current Orders</h1>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
        document.onclick = function (i) {
            if (window.event) {
                i = event.srcElement;
            }
            else {
                i = i.target;
            }
            if (i.className && i.parentNode.className == "delete") {
                i.parentNode.parentNode.parentNode.remove();
            }
            if (i.className && i.parentNode.className == "edit") {
                if (i.innerHTML == '') {
                    i.innerHTML = '';
                    makeEdit(i);
                }


                else {
                    console.log(i.innerHTML);
                    i.innerHTML = '';
                    saveEdits(i);
                }
            }
        }
        function makeEdit(targ) {
            var editElem = targ.parentElement.parentElement.parentElement.getElementsByClassName("status")[0];
            console.log(editElem);
            editElem.setAttribute("contenteditable", "true");
            editElem.style.backgroundColor = "lightblue";
            editElem.focus();
        }
        function saveEdits(targ) {
            console.log(targ);
            var editElem = targ.parentElement.parentElement.parentElement.getElementsByClassName("status")[0];
            console.log(editElem);
            var userVersion = editElem.innerHTML;
            localStorage.setItem(editElem.id, userVersion);
            editElem.toggleAttribute("contenteditable");
            editElem.style.backgroundColor = "white";
        }
        function loadEdits() {

            var statuses = document.getElementsByClassName("status");
            for (item of statuses) {
                if (localStorage.getItem(item.id))
                    item.innerHTML = localStorage.getItem(item.id);
            }
            if (localStorage.userEdits != null)
                document.getElementById("edit").innerHTML = localStorage.userEdits;
        }
    </script>
</head>

<body onload="loadEdits()">
    {{> navbar}}
    <style>
        .container {
            width: 700px;
        }
    </style>
    <!-- {{dbg}}
  {{#each orders}}
  <h1>{{name}}|{{title}}|{{room}}|{{os}}</h1>
  {{/each}} -->
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Order <b>Details</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal"><i
                                class="fa fa-plus"></i> Add New</button>
                    </div>
                    {{> searchBar}}
                </div>

            </div>
            <table id='myTable' class="table table-bordered">
                <thead>
                    <tr>
                        <th>Party</th>
                        <th>Showing</th>
                        <th>Room</th>
                        <th>Seat(s)</th>
                        <th>Order Status</th>
                        <th>Actions</th>

                    </tr>
                    </thead>
                <tbody>
                  {{#each orders}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{title}}</td>
                        <td>{{room}}</td>
                        <td>todo</td>
                        <td class="status" contenteditable="false" id="sr1">{{os}}</td>
                        <td>
                            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i
                                    class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel"><strong>Register Seat</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <form action='/orders' method="POST" role="form">
                <div class="modal-body">

                        <div class="form-row">
                            <!-- <div class="form-group col-md-6">
                                <label for="orderParty">Party:</label>
                                <input type="text" name="orderParty" id="orderParty" class="form-control">
                            </div> -->
                            <div class="form-group col-md-6">
                                <label for="orderShowing">Showing:</label>
                                <input type="text" name="orderShowing" class="form-control" id="orderShowing">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="orderRow">Row:</label>
                                <input type="text" name="orderRow" id="orderRow" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="orderCol">Col:</label>
                                <input type="text" name="orderCol" id="orderCol" class="form-control">
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>


</body>
