<h1>Current Orders</h1>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
    function makeEdit(i, id) {

        console.log('edit for ' + id);
        //Populate form with values from selected row.

        //Get the row containing clicked editor
         const myRow = i.closest('tr');

        //Collect data from the table on the page with the clicked ID
        var updateData = {
            name: $(myRow).find('.name').html(),
            showing: $(myRow).find('.title').html(),
            room: $(myRow).find('.room').html(),
            seatRow: $(myRow).find('.seats').html()[0],
            seatCol: $(myRow).find('.seats').html().slice(1)
        }
        /* Cringe that finds the current values in the dropdown menus and selects them*/
        $('#orderParty > option:contains(' + updateData.name + ')').attr("selected","selected");
        $('#orderParty > option:not(:contains(' + updateData.name + '))').removeAttr("selected");
        $('#orderShowing > option:contains(' + updateData.showing + ')').attr("selected","selected");
        $('#orderShowing > option:not(:contains(' + updateData.showing + '))').removeAttr("selected");
        $('#orderRow').attr('value', updateData.seatRow);
        $('#orderCol').attr('value', updateData.seatCol);




            /* Grabs the ID of the row to update, adds a paramater to the button with the ID to change*/
            $("#updatebtn")[0].targID = id;
            $("#updatebtn")[0].addEventListener("click", sendEdit);



    }
    function sendEdit(evt){
        const id = evt.currentTarget.targID;
        const path = window.location.pathname;
        console.log("sendEdit " + id);
        $.ajax({
            url: path + '/' + id,
            type: 'PUT',
            data: $('#dataForm').serialize(),
            success: function(result){
                window.location.reload(true);
            }
        })
    }
    </script>
</head>

<body>
{{> navbar}}
<style>
    .container {
        width: 700px;
    }
</style>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Order <b>Details</b></h2>
                </div>
                <div class="col-sm-4">
                    <button id ="modalButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i
                            class="fa fa-plus"></i> Add New
                    </button>
                </div>
                {{> searchBar}}
            </div>

        </div>
        <table id='myTable' class="table table-bordered">
            <thead>
            <tr>
                <th>Party</th>
                <th>Showing</th>
                <th>Room</th>
                <th>Seat(s)</th>
                <th>Order Status</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            {{#each orders}}
                <tr id="{{id}}">
                    <td class="name">{{name}}</td>
                    <td class="title">{{title}}</td>
                    <td class="room">{{room}}</td>
                    <td class="seats">{{seats}}</td>
                    <td class="status" contenteditable="false" id="sr1">{{os}}</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip">
                            <i
                                class="material-icons" data-toggle="modal" data-target="#addModal">&#xE254;</i></a>

                        <a class="delete" title="Delete" data-toggle="tooltip"><i
                                class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
            {{/each}}

            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel"><strong>New Order</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form id="dataForm" action='/orders' method="POST" role="form">
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="orderParty">Party:</label>
                            <select name="orderParty" id="orderParty" type="text" class="form-control">
                                {{#each customers}}
                                    <option> {{lastName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="orderShowing">Showing:</label>
                            <select type="text" name="orderShowing" class="form-control" id="orderShowing">
                                {{#each showings}}
                                    <option>{{title}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="orderRow">Row:</label>
                            <input type="text" name="orderRow" id="orderRow" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="orderCol">Col:</label>
                            <input type="text" name="orderCol" id="orderCol" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id= "submitbtn" type="submit" class="btn btn-primary">Submit</button>
                    <button id="updatebtn" type="button" class="btn btn-primary" style="display:none" >Update</button>


                </div>
            </form>
        </div>
    </div>
</div>


</body>
