<h1>Movies This Week</h1>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
    function makeEdit(i, id) {

        console.log('edit for ' + id);
        //Populate form with values from selected row.

        //Get the row containing clicked editor
         const myRow = i.closest('tr');

        //Collect data from the table on the page with the clicked ID
        var updateData = {
            title: $(myRow).find('.title').html(),
            time: $(myRow).find('.time').html(),
            cost: $(myRow).find('.cost').html(),
            room: $(myRow).find('.room').html()
        }
        /* Cringe that finds the current values in the dropdown menus and selects them*/
        $('#title').attr('value', updateData.title);
        $('#time').attr('value', new Date(updateData.time).toISOString().slice(0, 19).replace('T', ' '));
        $('#amount').attr('value', updateData.cost);
        $('#room > option:contains(' + updateData.room + ')').attr("selected","selected");
        $('#room > option:not(:contains(' + updateData.room + '))').removeAttr("selected");


            /*  There are two buttons on the pop-up form, update and submit.
            *   Update is hidden by default. Clicking the edit button hides submit, shows update. */
            $("#submitbtn").css("display","none");
            $("#updatebtn").css("display","");


            /* Grabs the ID of the row to update, adds a paramater to the button with the ID to change*/
            $("#updatebtn")[0].targID = id;
            $("#updatebtn")[0].addEventListener("click", sendEdit);



    }
    function sendEdit(evt){
        const id = evt.currentTarget.targID;
        const path = window.location.pathname;
        console.log("sendEdit " + id);
        $.ajax({
            url: path + '/' + id,
            type: 'PUT',
            data: $('#dataForm').serialize(),
            success: function(result){
                window.location.reload(true);
            }
        })
    }
    </script>
</head>

<body>

{{> navbar}}
<style>
    .container {
        width: 700px;
    }
</style>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Showing <b>Details</b></h2>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i
                            class="fa fa-plus"></i> Add New
                    </button>
                </div>
                {{> searchBar}}
            </div>
        </div>
    </div>
    {{!-- {{> searchBar}} --}}
    <table id='myTable' class="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Time</th>
            <th>Cost</th>
            <th>Room</th>
            <th>Actions</th>
        </tr>
        <tbody>
        {{#each showings}}
            <tr id="{{id}}">
                <td class = 'title'>{{title}}</td>
                <td class = 'time'>{{time}}</td>
                <td class = 'cost'>{{cost}}</td>
                <td class = 'room'>{{room}}</td>
                <td>
                        <a class="edit" title="Edit" data-toggle="tooltip">
                            <i
                                class="material-icons" data-toggle="modal" data-target="#addModal">&#xE254;</i></a>

                        <a class="delete" title="Delete" data-toggle="tooltip"><i
                                class="material-icons">&#xE872;</i></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<!--Modal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel"><strong>Add Showing</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="dataForm" action="/showings" method="POST" role="form">
                    {{!-- Time input --}}
                    <div class="form-row">
                        <div class="mb-3">
                            <label id="time_label" for="time">Time</label>
                            <input id="time" name="time" type="text" class="form-control" value="2021-05-30 20:00:00"/>
                        </div>
                    </div>
                    {{!-- Room Select --}}
                    <div class="form-row">
                        <div class="form-group">
                            <div class="select">
                                <label id="room_label" for="room">Room#</label>
                                <div class="input-group">
                                    <select id="room" name="room" class="form-control form-select" aria-label="Room#">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>

                            {{!-- Cost --}}
                            <div class="amount">
                                <label id="amount_label" for="amount">Cost</label>
                                <div class="input-group">
                                    <input id="amount" name="amount" type="number" class="form-control" value="0.00"
                                           aria-label="Total Amount"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Title --}}
                    <div class="mb-3">
                        <label for="title">Title</label>
                        <div class="input-group mb-3">
                            <input type="text" name="title" id="title" class="form-control">
                        </div>
                        <br>

                    </div>
                    <div class="modal-footer">
                        <button id= "submitbtn" type="submit" class="btn btn-primary">Submit</button>
                        <button id="updatebtn" type="button" class="btn btn-primary" style="display:none" >Update</button>
                    </div>                    
                </form>

            </div>
        </div>
    </div>
</div>
</body>
